<!-- listing -->
      <div class="listingArea">
         <div class="container">
            <div class="row">
               <div class="col-md-offset-1 col-sm-4 col-md-3 wow fadeInDown">
                  <!-- dropdown -->
                  <div class="dropdown customDropdown">
                     <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary customSelect" data-target="#" href="">
                     Project Type <span class="fa fa-angle-down"></span>
                     </a>
                     <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li><a href="#">Flooring</a></li>
                        <li class="dropdown-submenu">
                           <a tabindex="-1" href="#"><strong>Services</strong></a>
                           <ul class="dropdown-menu">
                              <li><a href="#">Service 1</a></li>
                              <li><a href="#">Service 2</a></li>
                           </ul>
                        </li>
                        <li><a href="#">Kitchen/Bathroom</a></li>
                        <li><a href="#">Remodelling</a></li>
                     </ul>
                  </div>
                  <!-- dropdown -->
               </div>
               <!-- col-6 -->
               <div class="col-sm-4 col-md-3 wow fadeInDown">
                  <div class="dropdown customDropdown">
                     <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary customSelect" data-target="#">
                     City <span class="fa fa-angle-down"></span>
                     </a>
                     <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li><a href="#">Toronto</a></li>
                        <li><a href="#">London</a></li>
                        <li><a href="#">Oakville</a></li>
                        <li><a href="#">Mississauga</a></li>
                     </ul>
                  </div>
                  <!-- dropdown -->
               </div>
               <!-- col-6 -->
               <div class="col-sm-4 col-md-3 wow fadeInDown">
                  <div class="dropdown customDropdown">
                     <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary customSelect" data-target="#">
                     Sort By <span class="fa fa-angle-down"></span>
                     </a>
                     <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li><a href="#">Price Lowest</a></li>
                        <li><a href="#">Price highest</a></li>
                        <li><a href="#">Time Newest</a></li>
                        <li><a href="#">Distance Newest</a></li>
                     </ul>
                  </div>
                  <!-- dropdown -->
               </div>
               <!-- col-6 -->
            </div>
            <!-- row -->
            <!-- listingView -->
            <div class="listingView">
               <div class="row">
                  <div class="col-xs-12 col-sm-4 hvr-sink">
                     <div class="card">
                        <a class="img-card" href="">
                          <%= image_tag "img01.jpg" %>
                        </a>
                        <div class="card-content">
                           <h4 class="card-title">
                              <a href="">
                              Builder men
                              </a>
                           </h4>
                           <div class="">
                              $200
                           </div>
                        </div>
                        <div class="card-read-more">
                           <a class="btn btn-link btn-block" href="">
                           BOOKED NOW
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 hvr-sink">
                     <div class="card">
                        <a class="img-card" href="http://www.fostrap.com/">
                          <%= image_tag "img01.jpg" %>
                        </a>
                        <div class="card-content">
                           <h4 class="card-title">
                              <a href="">
                              Builder men
                              </a>
                           </h4>
                           <div class="">
                              $200
                           </div>
                        </div>
                        <div class="card-read-more">
                           <a class="btn btn-link btn-block" href="">
                           BOOKED NOW
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 hvr-sink">
                     <div class="card">
                        <a class="img-card" href="">
                          <%= image_tag "img01.jpg" %>
                        </a>
                        <div class="card-content">
                           <h4 class="card-title">
                              <a href="">
                              Builder men
                              </a>
                           </h4>
                           <div class="">
                              $200
                           </div>
                        </div>
                        <div class="card-read-more">
                           <a class="btn btn-link btn-block" href="">
                           BOOKED NOW
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-4 hvr-sink">
                     <div class="card">
                        <a class="img-card" href="">
                          <%= image_tag "img01.jpg" %>
                        </a>
                        <div class="card-content">
                           <h4 class="card-title">
                              <a href="">
                              Builder men
                              </a>
                           </h4>
                           <div class="">
                              $200
                           </div>
                        </div>
                        <div class="card-read-more">
                           <a class="btn btn-link btn-block" href="">
                           BOOKED NOW
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 hvr-sink">
                     <div class="card">
                        <a class="img-card" href="">
                          <%= image_tag "img01.jpg" %>
                        </a>
                        <div class="card-content">
                           <h4 class="card-title">
                              <a href="">
                              Builder men
                              </a>
                           </h4>
                           <div class="">
                              $200
                           </div>
                        </div>
                        <div class="card-read-more">
                           <a class="btn btn-link btn-block" href="">
                           BOOKED NOW
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 hvr-sink">
                     <div class="card">
                        <a class="img-card" href="">
                          <%= image_tag "img01.jpg" %>
                        </a>
                        <div class="card-content">
                           <h4 class="card-title">
                              <a href="">
                              Builder men
                              </a>
                           </h4>
                           <div class="">
                              $200
                           </div>
                        </div>
                        <div class="card-read-more">
                           <a class="btn btn-link btn-block" href="">
                           BOOKED NOW
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- row -->
               <div class="row">
                  <div class="col-xs-12 col-sm-4 hvr-sink">
                     <div class="card">
                        <a class="img-card" href="">
                        <%= image_tag "img01.jpg" %>
                        </a>
                        <div class="card-content">
                           <h4 class="card-title">
                              <a href="">
                              Builder men
                              </a>
                           </h4>
                           <div class="">
                              $200
                           </div>
                        </div>
                        <div class="card-read-more">
                           <a class="btn btn-link btn-block" href="">
                           BOOKED NOW
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 hvr-sink">
                     <div class="card">
                        <a class="img-card" href="">
                        <%= image_tag "img01.jpg" %>
                        </a>
                        <div class="card-content">
                           <h4 class="card-title">
                              <a href="">
                              Builder men
                              </a>
                           </h4>
                           <div class="">
                              $200
                           </div>
                        </div>
                        <div class="card-read-more">
                           <a class="btn btn-link btn-block" href="">
                           BOOKED NOW
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 hvr-sink">
                     <div class="card">
                        <a class="img-card" href="">
                        <%= image_tag "img01.jpg" %>
                        </a>
                        <div class="card-content">
                           <h4 class="card-title">
                              <a href="">
                              Builder men
                              </a>
                           </h4>
                           <div class="">
                              $200
                           </div>
                        </div>
                        <div class="card-read-more">
                           <a class="btn btn-link btn-block" href="">
                           BOOKED NOW
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- row -->
            </div>
            <!-- listingView -->
         </div>
         <!-- container -->
      </div>
      <!-- listing -->