<!-- chat-->
  <div class="chat">
     <div class="container-fluid">
        <div class="row vdivide">
           <div class="col-xs-1 col-sm-1 col-md-1 plr0 borderRi">
              <ul class="sideIcon">
                 <li><span><i class="fa fa-comment fa-2x"></i></span></li>
                 <li><span><i class="fa fa-folder-o fa-2x"></i></span></li>
                 <li><span><i class="fa fa-cog fa-2x"></i></span></li>
              </ul>
           </div>
           <div class="col-xs-5 col-sm-3 col-md-2 plr0 text-center borderRi">
              <h3 class="borderBottom">Message</h3>
              <!-- sideBar -->
              <div class="row sideBar">
                 <div class="row sideBar-body">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                       <div class="avatar-icon">
                          <%= image_tag "1.png"%>
                       </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 sideBar-main">
                       <div class="row">
                          <div class="sideBar-name">
                             <span class="name-meta">Ankit Jain
                             </span>
                             <span><small>Project guys</small></span>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row sideBar-body">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                       <div class="avatar-icon">
                          <%= image_tag "2.png"%>
                       </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 sideBar-main">
                       <div class="row">
                          <div class="sideBar-name">
                             <span class="name-meta">John Doe
                             </span>
                             <span><small>Project guys</small></span>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row sideBar-body">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                       <div class="avatar-icon">
                          <%= image_tag "3.png"%>
                       </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 sideBar-main">
                       <div class="row">
                          <div class="sideBar-name">
                             <span class="name-meta">Fey
                             </span>
                             <span><small>Project Co</small></span>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row sideBar-body">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                       <div class="avatar-icon">
                         <%= image_tag "4.png"%>
                       </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 sideBar-main">
                       <div class="row">
                          <div class="sideBar-name">
                             <span class="name-meta">James
                             </span>
                             <span><small>Project guys</small></span>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row sideBar-body">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                       <div class="avatar-icon">
                          <%= image_tag "5.png"%>
                       </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 sideBar-main">
                       <div class="row">
                          <div class="sideBar-name">
                             <span class="name-meta">Jack
                             </span>
                             <span><small>Project guys</small></span>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row sideBar-body">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                       <div class="avatar-icon">
                          <%= image_tag "6.png"%>
                       </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 sideBar-main">
                       <div class="row">
                          <div class="sideBar-name">
                             <span class="name-meta">Rina
                             </span>
                             <span><small>Project Bros</small></span>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row sideBar-body">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                       <div class="avatar-icon">
                          <%= image_tag "10.png"%>
                       </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 sideBar-main">
                       <div class="row">
                          <div class="sideBar-name">
                             <span class="name-meta">Walton
                             </span>
                             <span><small>Project Co</small></span>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="row sideBar-body">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                       <div class="avatar-icon">
                          <%= image_tag "10.png"%>
                       </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 sideBar-main">
                       <div class="row">
                          <div class="sideBar-name">
                             <span class="name-meta">Jacob
                             </span>
                             <span><small>Project guys</small></span>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <!-- Sidebar End -->
           </div>
           <div class="col-xs-6 col-sm-8 col-md-9 plr0">
              <h3 class="borderBottom pl20"> <span><i class="fa fa-smile-o"></i></span>  Project Co</h3>
              <!-- Conversation Start -->
              <div class="conversation">
                 <br />
                 <!-- Message Box -->
                 <div class="row message" id="conversation">
                    <div class="row message-body">
                       <div class="col-sm-12 message-main-receiver">
                          <div class="receiver">
                             <div class="message-text">
                                Hyy, Its Awesome..!
                             </div>
                             <span class="message-time pull-right">
                             Delivered 03:10
                             </span>
                          </div>
                       </div>
                    </div>
                    <!-- messagebody -->
                    <div class="row message-body">
                       <div class="col-sm-12 message-main-sender">
                          <div class="sender">
                             <div class="message-text">
                                Thanks n I know its awesome...!
                             </div>
                             <span class="message-time pull-right">
                             Delivered 07:30
                             </span>
                          </div>
                       </div>
                    </div>
                    <!-- messagebody -->
                    <div class="row message-body">
                       <div class="col-sm-12 message-main-sender">
                          <div class="sender">
                             <div class="message-text">
                                Thanks n I know its awesome...!
                             </div>
                             <span class="message-time pull-right">
                             Delivered 02:00
                             </span>
                          </div>
                       </div>
                    </div>
                    <!-- messagebody -->
                    <div class="row message-body">
                       <div class="col-sm-12 message-main-receiver">
                          <div class="receiver">
                             <div class="message-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                             </div>
                             <span class="message-time pull-right">
                             Delivered 10:10
                             </span>
                          </div>
                       </div>
                    </div>
                    <!-- messagebody -->
                    <div class="row message-body">
                       <div class="col-sm-12 message-main-receiver">
                          <div class="receiver">
                             <div class="message-text">
                                Etiam pellentesque ullamcorper diam quis rutrum. 
                             </div>
                             <span class="message-time pull-right">
                             Delivered 12:10
                             </span>
                          </div>
                       </div>
                    </div>
                    <!-- messagebody -->
                    <div class="row message-body">
                       <div class="col-sm-12 message-main-sender">
                          <div class="sender">
                             <div class="message-text">
                                lectus eget pellentesque fringilla. Maecenas 
                             </div>
                             <span class="message-time pull-right">
                             Delivered 07:30
                             </span>
                          </div>
                       </div>
                    </div>
                    <!-- messagebody -->
                 </div>
                 <!-- Message Box End -->
                 <!-- Reply Box -->
                 <div class="row reply">
                    <div class="col-sm-11 col-xs-6 reply-main">
                       <textarea class="form-control" rows="1" id="comment"></textarea>
                    </div>
                    <div class="col-sm-1 col-xs-6 reply-send">
                       <i class="fa fa-send fa-2x" aria-hidden="true"></i>
                    </div>
                 </div>
                 <!-- Reply Box End -->
              </div>
              <!-- Conversation End -->	
           </div>
        </div>
        <!-- row -->
     </div>
     <!-- container-fluid -->
  </div>
<!-- chat-->